name: scan_employee_data
description: "An application for scan KTP to collect employees data."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  get: ^4.7.3
  # data
  path: ^1.9.1
  sqflite: ^2.4.2
  uuid: ^4.5.2
  intl: ^0.20.2
  # scan data
  image_picker: ^1.2.1
  image_cropper: ^11.0.0
  google_mlkit_text_recognition: ^0.15.0
  # services
  workmanager: ^0.9.0
  connectivity_plus: ^7.0.0  


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  # assets:
  #   - images/a_dot_burr.jpeg
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
